* {
    padding: 0;
    margin: 0;
    font-family: Inter, system-ui, sans-serif;
}

body {
    overflow-y: none;
}

header {
    position: relative;
    width: 100%-60px;
    height: 30px;
    
    border-bottom: 1px solid rgb(236, 236, 236);

    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 30px;

    font-family: Inter, system-ui, sans-serif;
    font-weight: 700;
    font-size: 22px;

    color: #1a1a1a;
}

.content {
    position: relative;
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 30px;
    color: #000000;
    font-weight: 500;
    border-bottom: 1px solid rgb(236, 236, 236);
    height: 210px;
}

h4 {
    margin-top: 10px;
    font-weight: 500;
    color: grey
}

img {
    position: relative;
    top: 20px;
    height: 70px;
    width: 70px;
}

#secondlabel {
    position: relative;
    top: 50px;
}

#demon {
    position: relative;
    top: 70px;
}

button#e {
    position: relative;
    text-align: center;
    justify-content: center;
    border: none;
    width: 100%;
    height: 60px;
    padding: 20px;
    color: rgb(255, 255, 255);
    background-color: rgb(31, 147, 255);
    font-weight: 500;
    font-size: 20px;
    border-radius: 5px;

    padding: 10px;
    top: 160px;

}




nav {
    width: 100%;
    height: 70px;
    border-top: 1px solid rgb(236, 236, 236);
    position: absolute;
    bottom: 0px;
    left: 0px;

    flex-wrap: wrap;
    display: flex;

    user-select: none;
    -webkit-user-select: none;
}

nav > div {
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 100%;

    padding-top: 25px;
    border-radius: 5px;

    font-weight: 600;
}

div#clicker {
    align-items: center;
    text-align: center;
    position: relative;
    top: 50px
}

div#clicker > img {
    width: 50%;
    height: 50%;

}

div#clicker > img:active {
    animation: drag 0.2s forwards ease;
}

h3 {
    font-size: 50px;
    margin-bottom: 50px;
}

div#energy {
    position: absolute;
    bottom: 90px;
    left: 30px;
}

@keyframes drag {
    from {
        left: 0px;
    }
    33% {
        left: 3px;
    }
    66% {
        left: -5px;
    }
    to {
        left: 0px;
    }
}

#cc {
    font-size: 38px;
    animation: blow 0.5s forwards ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    color: grey;
}

@keyframes blow {
    from {
        
        opacity: 1;
    }
    33% {
        top: 0px;
        opacity: 0;

    }
    66% {
        top: -100px;
        opacity: 0;
    }
    to {
        top: -100px;
    }
}

#banner {
    text-align: left;
    position: relative;
    height: 140px;
    width: 80%;
    border-radius: 5px;
    border: 1px solid rgb(236, 236, 236);
    top: 60px;
    padding: 10px 20px;
}

button {
    position: relative;
    text-align: center;
    justify-content: center;
    border: none;
    width: 100%;
    height: 50px;
    padding: 20px;
    color: rgb(255, 255, 255);
    background-color: rgb(31, 147, 255);
    font-weight: 500;
    font-size: 16px;
    border-radius: 5px;

    padding: 8px;
    top: 20px;
}